body {
  margin: 5;
  font-family: 'Georgia', serif;
  background-color: #2E5339;
  color: #3a2c1c;
}

header {
  background-color: #B57C43;
  padding: 60px 20px;
  text-align: center;
}

header li a{
    color:#2E5339;
}

header h1 {
  font-size: 2,5 em;
  margin-bottom: 10px;
  color: #2E5339;
}

h2{
    color:#2E5339;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 20px;
  gap: 30px;
  max-width: 1000px;
  margin: auto;
}

.center-column{
    min-width: 200px;
    background: #D8C6B2;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.left-column{
    flex: 1;
  min-width: 280px;
  background: #E4B169;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.right-column{
  flex: 1;
  min-width: 280px;
  background: #D9B382;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

ul SEA {
  padding-left: 1.2em;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #eee2d3;
  color: #5a4a3c;
}
